  /* ---------General Styling----------- */
  body {
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
    font-family: "montserrat", sans-serif;
  }
  .material-icons-outlined {
    vertical-align: middle;
    line-height: 1px;
    font-size: 23px;
    opacity: 0.6;
  }
  .container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 13px;
    text-align: center;
    width: 35%;
  }
  .container h5 {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    color: #79b3f1;
  }
  p {
    opacity: 0.5;
  }

  /* ---------Input Items----------- */
  .input-group {
    text-align: left;
    margin: 15px 0;
  }
  .input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .input-group input {
    width: 80%;
    padding: 12px;
    font-size: 13px;
    background: #f4f4f4;
    border: none;
    border-radius: 5px;
    padding-left: 40px;
    margin: 5px;
  }
  .input-group span {
    position: absolute;
    margin-left: 12px;
    margin-top: 22px;
    color: #aaa;
  }
  .input-group-icon {
    position: relative;
  }
  

  /* -------Button Styling--------- */
  .button {
    display: flex;
    gap: 20px;
  }

  /* --------Back Button---------- */
  .back-btn {
    width: 100%;
    padding: 13px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #f4f4f4;
  }
  .back-btn a {
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: #a8a1a1;
  }
  .back-btn:hover {
    background: #d5f0f0;
  }

  /* ----------SignUp Button---------- */
.Signup-btn {
  margin-top: 20px;
  width: 100%;
  padding: 13px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #79b3f1;
  color: white;
}
.Signup-btn span {
  margin-left: 8px;
  color: white;
}
.Signup-btn:hover {
  background: #7090ad;
}