/* ------General Styling---------- */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background-color: #f9f9f9;
  color: #333;
}

.top {
  display: flex;
  justify-content: space-between;
}

.gender {
  display: flex;
  margin: 5px 0;
  text-align: center;
}

/* --------Button Styling---------- */
button {
  background-color: #79b3f1;
  color: white;
  border: none;
  padding: 7px 15px;
  border-radius: 3px;
  margin-bottom: 10px;
}

button:hover {
  opacity: 0.7;
}

#add-btn {
  background-color: #79b3f1;
}

#exportExcelBtn {
  background-color: #4caf50;
}

#exportPdfBtn {
  background-color: rgb(252, 53, 53);
}



/* ------Table Styling-------- */
.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f9f9f9;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  overflow-x: auto;
  margin-top: 20px;
  display: block;
}

.table-title {
  text-align: center;
}

.table thead {
  background-color: #79b3f1;
  color: white;
}

.table th,
.table td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.table th {
  background-color: #79b3f1;
  color: white;
}


/* ------- Dialog Styling ------- */
.dialog-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialog-box {
  background: white;
  padding: 25px;
  border-radius: 8px;
  width: 350px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.dialog-box h3 {
  margin-top: 0;
  text-align: center;
}
.dialog-box form {
  display: flex;
  flex-direction: column;
}
.dialog-box input,
.dialog-box select {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.dialog-buttons {
  display: flex;
  justify-content: space-between;
}
.dialog-buttons button {
  padding: 8px 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.dialog-buttons button[type="submit"] {
  background-color: #79b3f1;
  color: white;
}
.dialog-buttons #cancelBtn {
  background-color: #aaa;
  color: white;
}