body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background-color: #f9f9f9;
  /* padding: 20px; */
  color: #333;
}

.container {
  /* max-width: 600px; */
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.community-list {
  list-style: none;
  padding: 0;
}

.community-list li {
  display: flex;
  justify-content: space-between; /* Pushes content to edges */
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  gap: 8px; /* Add small gap between items */
}

.community-list li a {
  text-decoration: none;
  color: black;
  flex-grow: 1;
}

.buttonGroup {
  display: flex;
  gap: 8px; /* Reduce gap between buttons */
  margin-left: auto; /* Ensures button group stays at far right */
}

button {
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 18px;
}

input[type="text"] {
  width: 80%;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
}

.add-btn {
  background-color: #79b3f1;
}

.add-btn:hover {
  opacity: 0.7;
}

.edit-btn {
  background-color: #f0ad4e;
  margin-right: 0;
}

.delete-btn {
  background-color: #d9534f;
  margin-left: 0;
}

.cancel-btn {
  background: #79b3f1;
  margin-left: 8px;
}

.save-btn {
  background: #f0ad4e;
}

.action-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.action-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.import-btn {
  background-color: #4caf50;
  color: white;
}

.import-btn:hover {
  background-color: #45a049;
}

.filter-btn {
  background-color: #2196f3;
  color: white;
}

.filter-btn:hover {
  background-color: #0b7dda;
}

/* Style for the filter dropdown */
.filter-dropdown {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px;
  border-radius: 4px;
}

.filter-dropdown.show {
  display: block;
}

.filter-dropdown input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
